<h1><%= @title_1 %></h1>
<p><%= @post_1 %></p>
<p><%= @post_1 %></p>
<p><%= @post_1 %></p>
<p><%= @post_1 %></p>
<p><%= @post_1 %></p>
<p><%= @post_1 %></p>
<p><%= @post_1 %></p>
<%= link_to 'Home', root_url %>
