<div class="jumbotron">
  <h1 class="font"><%= @movie_title.upcase %> <small><i><%= @movie_year %></i></small></h1>
  <p class="font"><i><%= @movie_synopsis.split(/(?<=\.)\s/)[0] %></i></p>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <%= image_tag @movie_poster_original, class: "img-responsive"%>
  </div>

  <div class="col-md-7">
    <p>Audience Score: <%= @movie_rating_a_score %> (<%= @movie_rating_audience %>)</p>
    <p>Critics Score: <%= @movie_rating_c_score %> (<%= @movie_rating_critics %>)</p>
    <p>Rated: <%= @movie_mpaa_rating %></p>
    <p>Runtime: <%= @movie_runtime %></p>
    <p>Theatical Release: <%= @movie_release_theater %></p>
    <p>Released on DVD: <%= @movie_release_dvd  %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1" style="text-align:justify;padding-top:10px;padding-bottom:10px;">
    Synopsis: <%= @movie_synopsis %>
  </div>
</div>
