<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company %><br>
    <%= f.text_field :company, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control"%>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :duties %><br>
    <%= f.text_area :duties, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :experience %><br>
    <%= f.text_area :experience, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :education %><br>
    <%= f.text_area :education, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :posted %><br>
    <%= f.date_select :posted %>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
<% end %>
